# /sys
type sysfs_camera_torch, fs_type, sysfs_type;
type sysfs_ir_remote_control, fs_type, sysfs_type;
type sysfs_touchpanel, fs_type, sysfs_type;
type sysfs_fm_dl, fs_type, sysfs_type;
type sysfs_mac_serial, fs_type, sysfs_type;
type sysfs_rmnet, sysfs_type, fs_type;
type sysfs_smdcntl_open_timeout, sysfs_type, fs_type;
type sysfs_surfaceflinger, sysfs_type, fs_type;

# debugfs
type debugfs_asoc, debugfs_type, fs_type;

# /dev/socket
type mpdecision_socket, file_type;
type tad_socket, file_type;

# /data
type fm_data_file, file_type, data_file_type, core_data_file_type;
type kickstart_data_file, file_type, data_file_type;
type mpctl_data_file, file_type, data_file_type;
type mpctl_socket, file_type, data_file_type, mlstrustedobject;

# /proc
type proc_cpu_erp, fs_type;
