type illumination, domain;
type illumination_exec, exec_type, file_type;

init_daemon_domain(illumination)
wakelock_use(illumination)

allow illumination rootfs:lnk_file getattr;
allow illumination self:capability dac_override;
allow illumination sysfs:file { open read write };
allow illumination uhid_device:chr_file rw_file_perms;
