allow init kernel:file write;

allow init debugfs:dir mounton;

allow init self:process { setcurrent execmem };

allow init wpa_socket:unix_dgram_socket { bind create };

allow init wcnss_device:chr_file write;

allow init trim_area_partition_device:blk_file { write };

allow init rootfs:chr_file { execute execute_no_trans };

allow init tad_socket:sock_file write;

allow init tad:unix_stream_socket connectto;

allow init property_socket:sock_file write;
