type mac_update, domain;
type mac_update_exec, exec_type, file_type;

init_daemon_domain(mac_update)

allow mac_update self:capability dac_override;

# Read and write MAC address
allow mac_update wifi_data_file:dir w_dir_perms;
allow mac_update wifi_data_file:file create_file_perms;
allow mac_update ta_data_file:dir search;

allow mac_update tmpfs:chr_file rw_file_perms;
