type macaddrsetup, domain;
type macaddrsetup_exec, exec_type, file_type;

init_daemon_domain(macaddrsetup)

# communicate with tad
unix_socket_connect(macaddrsetup, tad, tad)

allow macaddrsetup bluetooth_data_file:dir rw_dir_perms;
allow macaddrsetup bluetooth_data_file:file create_file_perms;
allow macaddrsetup rootfs:lnk_file getattr;
allow macaddrsetup self:capability { dac_override fowner chown fsetid };
allow macaddrsetup sysfs_wlanmac:file rw_file_perms;
allow macaddrsetup sysfs_wlanserial:file rw_file_perms;
