# communicate with tad
unix_socket_connect(mdm_helper, tad, tad)

allow mdm_helper cache_file:dir rw_dir_perms;
allow mdm_helper cache_file:file create_file_perms;
allow mdm_helper toolbox_exec:file rx_file_perms;
