# Allow access to /cache/qcks
allow mdm_helper cache_file:dir rw_dir_perms;
allow mdm_helper cache_file:file create_file_perms;

# Connect to tad
unix_socket_connect(mdm_helper, tad, tad)

allow mdm_helper modem_efs_partition_device:blk_file { getattr rw_file_perms };
