# communicate with illumination
unix_socket_connect(mediaserver, illumination, illumination)

allow mediaserver audio_device:chr_file rw_file_perms;
allow mediaserver camera_socket:dir w_dir_perms;
allow mediaserver camera_socket:file create_file_perms;
allow mediaserver camera_data_file:file open;
allow mediaserver input_device:dir search;
allow mediaserver input_device:chr_file r_file_perms;
allow mediaserver sensorservice_service:service_manager find;
allow mediaserver sysfs:file write;
allow mediaserver system_server:unix_stream_socket { read write };
allow mediaserver system_file:file execmod;
allow mediaserver video_device:dir search;
