allow mediaserver camera_socket:dir w_dir_perms;
allow mediaserver camera_socket:file create_file_perms;

allow mediaserver audio_device:chr_file rw_file_perms;
allow mediaserver sysfs:file write;

# /dev/msm_camera
allow mediaserver video_device:dir search;
allow mediaserver camera_data_file:file open;

allow mediaserver system_server:unix_stream_socket { read write };

allow mediaserver sensorservice_service:service_manager find;

allow mediaserver system_file:file execmod;

# /dev/input
allow mediaserver input_device:dir search;

# ALS
allow mediaserver input_device:chr_file r_file_perms;
