allow mpdecision socket_device:dir w_dir_perms;

allow mpdecision system_data_file:dir { add_name write };
allow mpdecision system_data_file:file { create open append };