# write sysfs device
allow mpdecision sysfs_devices_system_cpu:file write;

allow mpdecision self:capability chown;

# dac_override to unlink /dev/socket/mpdecision/touchboost
allow mpdecision self:capability { dac_override fsetid net_admin };
allow mpdecision self:netlink_kobject_uevent_socket { create read setopt bind read };

# Create under /dev/socket/mpdecision
allow mpdecision mpdecision_socket:dir w_dir_perms;
allow mpdecision mpdecision_socket:sock_file { create setattr write };

# XXX Should we label with own type?
allow mpdecision sysfs:file { read open write getattr };

allow mpdecision socket_device:dir { add_name write remove_name};
allow mpdecision socket_device:sock_file { create setattr unlink };
allow mpdecision power_control_device:chr_file { open write };
allow mpdecision system_data_file:dir { add_name write };
allow mpdecision system_data_file:file { create open append };
