# for chmods in kickstart_checker.sh
allow qti_init_shell efs_boot_dev:blk_file setattr;

# to set gsm.radio.kickstart
allow qti_init_shell radio_prop:property_service set;

# Allow qmuxd
allow qti_init_shell qmuxd_socket:dir { search write add_name remove_name };
allow qti_init_shell qmuxd:unix_stream_socket {connectto };
allow qti_init_shell qmuxd_socket:sock_file { create write setattr };