type ta_qmi_client, domain;
type ta_qmi_client_exec, exec_type, file_type;

init_daemon_domain(ta_qmi_client)

qmux_socket(ta_qmi_client)

unix_socket_connect(ta_qmi_client, tad, tad)

wakelock_use(ta_qmi_client)

#============= ta_qmi_client ==============
allow ta_qmi_client diag_device:chr_file { open read write };
allow ta_qmi_client self:capability { dac_override fsetid };
allow ta_qmi_client self:socket create_socket_perms;
allow ta_qmi_client shared_log_device:chr_file { ioctl open read write };
allowxperm ta_qmi_client self:socket ioctl msm_sock_ipc_ioctls;
