type ta_qmi_client, domain;
type ta_qmi_client_exec, exec_type, file_type;

init_daemon_domain(ta_qmi_client)

allow ta_qmi_client smem_log_device:chr_file { read write open ioctl };
allow ta_qmi_client sysfs_wake_lock:file { append open };
allow ta_qmi_client self:socket { create ioctl bind read write };
allow ta_qmi_client self:capability { dac_override };

allow ta_qmi_client socket_device:sock_file { write };
allow ta_qmi_client tad:unix_stream_socket { connectto };
