allow toolbox property_socket:sock_file write;

allow toolbox init:unix_stream_socket connectto;

allow toolbox init:fifo_file { write read getattr };

allow toolbox toolbox:capability { dac_override chown fowner fsetid };

allow toolbox efs_boot_dev:blk_file { getattr setattr };

