# Kickstart checker
service ks_checker /system/bin/kickstart_checker.sh
    class core
    group system
    oneshot

# SONY misc
service tad_static /system/bin/tad_static /dev/block/platform/msm_sdcc.1/by-name/TA 0,16
    class core
    user root
    group root readproc system
    socket tad stream 0660 system system u:object_r:tad_socket:s0

service ta_qmi_client /system/bin/ta_qmi_client
    class main
    user root
    group radio system wakelock

service config_bt_addr /system/bin/btnvtool -O
    class core
    user bluetooth
    group bluetooth radio
    oneshot

on property:vold.decrypt=trigger_restart_framework
    start config_bt_addr

# QMUX must be in multiple groups to support external process connections
service qmuxd /system/bin/qmuxd
    class core
    user radio
    group radio audio bluetooth gps wakelock
    disabled

# QCOM prop
service hci_attach /system/bin/init.qcom.bt.sh
    class late_start
    user bluetooth
    group bluetooth system
    disabled
    oneshot

on property:bluetooth.hciattach=true
    start hci_attach

on property:bluetooth.hciattach=false
    setprop bluetooth.status off

on property:vendor.bluetooth.hciattach=true
    start hci_attach

on property:vendor.bluetooth.hciattach=false
    setprop vendor.bluetooth.status off

service netmgrd /system/bin/netmgrd
    class late_start
    group radio system wakelock
    disabled

service fm_dl /system/bin/init.qcom.fm.sh
    class late_start
    user system
    group system
    disabled
    oneshot

